@page "/ParentComponent"
<h3 class="text-danger">Parent Child Component</h3>

<CascadingValue Value="MessageForGrandChild" Name="MessageForGrandChild">
  <CascadingValue Value="@LuckNumber" Name="LuckNumberFromGrandParent">

    <!-- @ref == ChildComponent 가 가진 기능들에 직접접근 가능하게 해줌  여기에 써준 이름과-->
    <ChildComponent @ref="childComp"
                    OnClickBtnMethod="ShowMessage" Title="this title is passed as parameter from PArent Component">
      <ChildContent>
        <hr />
        Render Fragment From Parent!
        <hr />
      </ChildContent>

      <DangerChildContent>
        <hr />
        Danger Child content
        <hr />
      </DangerChildContent>

    </ChildComponent>
  </CascadingValue>
</CascadingValue>

<AnotherChildComponent placeholder="from parent plceholder"> <p>test!!</p></AnotherChildComponent>

<p><b>@messageText</b></p>

<div class="row">
  <button @onclick="()=>childComp.ShowToastrSuccess()">ShowChildToastr</button>
</div>
@code {
  // 상단 ref 에 먹인 이름이 같아야함
  private ChildComponent childComp;
  private string MessageForGrandChild { get; set; }= "this is a message from grandparent";
  public int LuckNumber { get; set; } = 7;

  private string messageText = "";

  private void ShowMessage(MouseEventArgs e)
  {
    messageText = "blazzing text from parent";
  }
}
