@page "/blazorjs"
@inject IJSRuntime JsRuntime
<h3>BlazorJs</h3>

<div>
  <button @onclick="(()=>TestConirmationBox(ConfirmMessage))">Confirm</button>
</div>
<div>
  <button @onclick="ToastrSuccess">ToastrSuccess</button>
</div>
<div>
  <button @onclick="ToastrError">ToastrError</button>
</div>
<div>
  @if(ConfirmResult)
  {
    <p>confirmed</p>
  }
  else
  {
    <p>not confirmed</p>
  }
</div>

<div>
  <button @onclick="SweetAlertSuccess">SweetAlertSuccess</button>
</div>
<div>
  <button @onclick="SweetAlertError">SweetAlertError</button>
</div>
@code {
  private string ConfirmMessage = "want to click?";
  private bool ConfirmResult { get; set; }
  private async Task TestConirmationBox(string message)
  {
    ConfirmResult = await JsRuntime.InvokeAsync<bool>("confirm", message);
  }
  private async Task ToastrSuccess()
  {
    await JsRuntime.ToastrSuccess("success message");
  }
  private async Task ToastrError()
  {
    await JsRuntime.ToastrError("error message");
  }
  private async Task SweetAlertSuccess()
  {
    await JsRuntime.SweetAlertSuccess("sweet alert success msg");
  }
  private async Task SweetAlertError()
  {
    await JsRuntime.SweetAlertError("sweet alert error msg");
  }
}
