<h3>LifeCycle</h3>

<div>
  @foreach (var item in EventType)
  {
    @item
    <hr />
  }
</div>

@code {
  [Parameter] public int CountValue { get; set; }
  List<string> EventType = new List<string>();

  protected override void OnInitialized()
  {
    base.OnInitialized();
    EventType.Add("Child- Oninitialized called");
  }

  protected override void OnParametersSet()
  {
    EventType.Add("child- OnParametersSet called");
  }

}
